<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>a2mt</title>
    <meta name="description" content="a2mt">
	<link rel="stylesheet" type="text/css" href="{{url_for('static'), filename='style.css'}}>
  </head>
  <body>
    <!-- Content -->

	<div class=bodyheadcontainer>
		<div class=bodyhead> 
			<h1> w3lc0me </h1>
		</div>
	</div>

	<div class=contentcontainer>	
		<div class=content>
			<h2> yo tt lmonde ;), site web blabla </h2>
	
			<p> minecraft 2 </p>
		
		</div>
	</div>

  </body>
</html>

